* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v75_715 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_716 {
  width: 100%;
  height: 91px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 0px 8px 24px rgba(0.5843137502670288, 0.615686297416687, 0.6470588445663452, 0.20000000298023224);
}
.v75_718 {
  width: 143px;
  height: 151px;
  background: url("../images/v75_718.png");
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 356px;
}
.v243_1490 {
  width: 294px;
  height: 269px;
  background: url("../images/v243_1490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 613px;
  left: 199px;
  overflow: hidden;
}
.v75_738 {
  width: 294px;
  height: 269px;
  background: url("../images/v75_738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v107_844 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v75_744 {
  width: 186px;
  height: 175px;
  background: url("../images/v75_744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 63px;
  overflow: hidden;
}
.v500_3551 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v243_1489 {
  width: 294px;
  height: 269px;
  background: url("../images/v243_1489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 613px;
  left: 580px;
  overflow: hidden;
}
.v75_726 {
  width: 294px;
  height: 269px;
  background: url("../images/v75_726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v106_847 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v75_745 {
  width: 190px;
  height: 174px;
  background: url("../images/v75_745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 48px;
  overflow: hidden;
}
.v243_1487 {
  width: 294px;
  height: 276px;
  background: url("../images/v243_1487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 605px;
  left: 458px;
  overflow: hidden;
}
.v75_723 {
  width: 294px;
  height: 276px;
  background: url("../images/v75_723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v106_845 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v500_3553 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 54px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v75_746 {
  width: 199px;
  height: 194px;
  background: url("../images/v75_746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 50px;
  overflow: hidden;
}
.v221_2312 {
  width: 291px;
  height: 272px;
  background: url("../images/v221_2312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 201px;
  overflow: hidden;
}
.v105_949 {
  width: 291px;
  height: 272px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v75_756 {
  width: 164px;
  height: 165px;
  background: url("../images/v75_756.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 58px;
  overflow: hidden;
}
.v105_959 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 38px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v243_1486 {
  width: 294px;
  height: 269px;
  background: url("../images/v243_1486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 269px;
  left: 462px;
  overflow: hidden;
}
.v106_844 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v75_755 {
  width: 194px;
  height: 179px;
  background: url("../images/v75_755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 63px;
  overflow: hidden;
}
.v107_845 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 56px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v243_1485 {
  width: 294px;
  height: 269px;
  background: url("../images/v243_1485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 269px;
  left: 576px;
  overflow: hidden;
}
.v105_952 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v75_733 {
  width: 169px;
  height: 164px;
  background: url("../images/v75_733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 66px;
  overflow: hidden;
}
.v105_961 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 42px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v500_3552 {
  width: 273px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 613px;
  left: 590px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v75_742 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 41px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v500_3550 {
  width: 852px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 141px;
  left: 309px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
