* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v107_2051 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v107_2053 {
  width: 100%;
  height: 91px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 0px 8px 24px rgba(0.5843137502670288, 0.615686297416687, 0.6470588445663452, 0.20000000298023224);
}
.v107_2055 {
  width: 143px;
  height: 151px;
  background: url("../images/v107_2055.png");
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 1796px;
}
.name {
  color: #fff;
}
.v107_2383 {
  width: 294px;
  height: 269px;
  background: url("../images/v107_2383.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 408px;
  overflow: hidden;
}
.v107_2384 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v107_2389 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 39px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v107_2391 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 39px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v107_2393 {
  width: 199px;
  height: 194px;
  background: url("../images/v107_2393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 458px;
  overflow: hidden;
}
.v291_1859 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 688px;
  left: 452px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v107_2395 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 690px;
  left: 84px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v107_2415 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 360px;
  left: 81px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v282_1893 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 1120px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v282_1895 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 690px;
  left: 1165px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v107_2386 {
  width: 294px;
  height: 269px;
  background: url("../images/v107_2386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 408px;
  overflow: hidden;
}
.v107_2387 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v119_1052 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 347px;
  left: 456px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v282_1891 {
  width: 294px;
  height: 269px;
  background: url("../images/v282_1891.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 1120px;
  overflow: hidden;
}
.v282_1892 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v282_1894 {
  width: 199px;
  height: 194px;
  background: url("../images/v282_1894.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 1170px;
  overflow: hidden;
}
.v282_1896 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 347px;
  left: 1165px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v291_3220 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: absolute;
  top: 586px;
  left: 767px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v291_3221 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 690px;
  left: 812px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v291_3222 {
  width: 294px;
  height: 269px;
  background: url("../images/v291_3222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 767px;
  overflow: hidden;
}
.v291_3223 {
  width: 294px;
  height: 269px;
  background: rgba(255,251,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v291_3224 {
  width: 199px;
  height: 194px;
  background: url("../images/v291_3224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 817px;
  overflow: hidden;
}
.v291_3225 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 347px;
  left: 812px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v282_13733 {
  width: 66px;
  height: 63px;
  background: url("../images/v282_13733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 79px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v107_2062 {
  width: 100%;
  height: 705px;
  background: url("../images/v107_2062.png");
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 1636px;
}
.v107_2396 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 255px;
  left: 88px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
