* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v458_3466 {
  width: 100%;
  height: 212px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v458_3467 {
  width: 71px;
  height: 71px;
  background: url("../images/v458_3467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v458_3468 {
  width: 71px;
  height: 71px;
  background: url("../images/v458_3468.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v458_3469 {
  width: 73px;
  height: 66px;
  background: url("../images/v458_3469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 162px;
  overflow: hidden;
}
.v458_3470 {
  width: 73px;
  height: 66px;
  background: url("../images/v458_3470.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v458_3471 {
  width: 71px;
  height: 71px;
  background: url("../images/v458_3471.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 299px;
  overflow: hidden;
}
.v458_3472 {
  width: 71px;
  height: 71px;
  background: url("../images/v458_3472.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v458_3473 {
  width: 71px;
  height: 67px;
  background: url("../images/v458_3473.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 436px;
}
.v458_3474 {
  width: 71px;
  height: 71px;
  background: url("../images/v458_3474.png");
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 559px;
}
.v458_3475 {
  width: 71px;
  height: 71px;
  background: url("../images/v458_3475.png");
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 819px;
}
.v458_3476 {
  width: 60px;
  height: 60px;
  background: url("../images/v458_3476.png");
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 1083px;
}
.v458_3477 {
  width: 57px;
  height: 57px;
  background: url("../images/v458_3477.png");
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1342px;
}
.v458_3478 {
  width: 56px;
  height: 56px;
  background: url("../images/v458_3478.png");
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1211px;
}
.v458_3481 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v458_3482 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 145px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v458_3483 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 288px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v458_3484 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 399px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v458_3485 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 533px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v458_3486 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 794px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v458_3487 {
  width: 123px;
  color: url("../images/v458_3487.png");
  position: absolute;
  top: 6px;
  left: 1052px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v458_3488 {
  width: 123px;
  color: url("../images/v458_3488.png");
  position: absolute;
  top: 6px;
  left: 1179px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v458_3489 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 1308px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v458_3490 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 663px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v458_3508 {
  width: 71px;
  height: 71px;
  background: url("../images/v458_3508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 689px;
  overflow: hidden;
}
