* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v522_4016 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v522_4017 {
  width: 100%;
  height: 91px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 0px 8px 24px rgba(0.5843137502670288, 0.615686297416687, 0.6470588445663452, 0.20000000298023224);
}
.v522_4019 {
  width: 143px;
  height: 151px;
  background: url("../images/v522_4019.png");
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 1796px;
}
.v522_4020 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 30px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v522_4022 {
  width: 100%;
  height: 220px;
  background: rgba(103,80,164,0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 314px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v522_4023 {
  width: 100%;
  height: 220px;
  background: rgba(103,80,164,0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 314px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v522_4024 {
  width: 100%;
  height: 359px;
  background: rgba(103,80,164,0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 314px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v522_4025 {
  width: 129px;
  height: 121px;
  background: rgba(201,215,252,1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 124px;
  border-radius: 50%;
}
.v522_4026 {
  width: 237px;
  height: 215px;
  background: rgba(201,215,252,1);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 367px;
  border-radius: 50%;
}
.v522_4027 {
  width: 237px;
  height: 215px;
  background: rgba(201,215,252,1);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 1025px;
  border-radius: 50%;
}
.v522_4028 {
  width: 237px;
  height: 215px;
  background: rgba(201,215,252,1);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 696px;
  border-radius: 50%;
}
.v522_4029 {
  width: 60px;
  height: 60px;
  background: url("../images/v522_4029.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 158px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v522_4034 {
  width: 543px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 543px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v522_4035 {
  width: 543px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 465px;
  left: 543px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v522_4036 {
  width: 846px;
  height: 71px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 391px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v522_4037 {
  width: 217px;
  color: rgba(0,0,0,0.6200000047683716);
  position: absolute;
  top: 297px;
  left: 416px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v522_4038 {
  width: 195px;
  height: 63px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 94px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v522_4039 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 327px;
  left: 116px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v522_4040 {
  width: 102px;
  height: 176px;
  background: url("../images/v522_4040.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 575px;
  left: 763px;
  overflow: hidden;
}
.v522_4041 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 704px;
  left: 1080px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v522_4042 {
  width: 122px;
  height: 117px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 574px;
  left: 1082px;
  border-radius: 50%;
}
.v522_4043 {
  width: 216px;
  height: 121px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 861px;
  left: 1280px;
}
.v522_4044 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 879px;
  left: 1314px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v522_4045 {
  width: 216px;
  height: 121px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 862px;
  left: 55px;
}
.v522_4046 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 883px;
  left: 20px;
  font-family: Georgia;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v522_4047 {
  width: 100%;
  height: 36px;
  background: url("../images/v522_4047.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 911px;
  left: 245px;
  overflow: hidden;
}
.v522_4048 {
  width: 200px;
  height: 20px;
  background: rgba(71,177,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v522_4049 {
  width: 200px;
  height: 20px;
  background: rgba(198,211,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 204px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v522_4050 {
  width: 200px;
  height: 20px;
  background: rgba(198,211,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 408px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v522_4051 {
  width: 200px;
  height: 20px;
  background: rgba(199,211,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 612px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v522_4052 {
  width: 200px;
  height: 20px;
  background: rgba(198,211,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 816px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v522_4053 {
  width: 200px;
  height: 20px;
  background: rgba(198,211,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 612px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v522_4054 {
  width: 117px;
  height: 154px;
  background: url("../images/v522_4054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 430px;
  overflow: hidden;
}
.v522_4055 {
  width: 88px;
  height: 85px;
  background: url("../images/v522_4055.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 590px;
  left: 1109px;
  overflow: hidden;
}
.v522_4056 {
  width: 100%;
  height: 92px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 218px;
  overflow: hidden;
}
.v522_4057 {
  width: 120px;
  height: 68px;
  background: url("../images/v522_4057.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 15px;
  overflow: hidden;
}
.v522_4058 {
  width: 78px;
  height: 68px;
  background: rgba(151,240,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 21px;
}
.v522_4059 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v522_4060 {
  width: 40px;
  height: 48px;
  background: url("../images/v522_4060.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 41px;
  overflow: hidden;
}
.v522_4061 {
  width: 40px;
  height: 48px;
  background: url("../images/v522_4061.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v522_4062 {
  width: 78px;
  height: 67px;
  background: url("../images/v522_4062.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 156px;
  overflow: hidden;
}
.v522_4063 {
  width: 78px;
  height: 67px;
  background: linear-gradient(rgba(47,224,248,1), rgba(47,176,248,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v522_4064 {
  width: 39px;
  height: 40px;
  background: url("../images/v522_4064.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 20px;
}
.v522_4065 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 5px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v522_4066 {
  width: 162px;
  height: 68px;
  background: url("../images/v522_4066.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 231px;
  overflow: hidden;
}
.v522_4067 {
  width: 78px;
  height: 68px;
  background: rgba(151,240,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 41px;
}
.v522_4068 {
  width: 41px;
  height: 43px;
  background: url("../images/v522_4068.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 61px;
}
.v522_4069 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v522_4070 {
  width: 160px;
  height: 68px;
  background: url("../images/v522_4070.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 474px;
  overflow: hidden;
}
.v522_4071 {
  width: 78px;
  height: 68px;
  background: rgba(151,240,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 41px;
}
.v522_4072 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v522_4073 {
  width: 38px;
  height: 44px;
  background: url("../images/v522_4073.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 62px;
}
.v522_4074 {
  width: 298px;
  height: 68px;
  background: url("../images/v522_4074.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 509px;
  overflow: hidden;
}
.v522_4075 {
  width: 78px;
  height: 68px;
  background: rgba(151,240,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 111px;
}
.v522_4076 {
  width: 298px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v522_4077 {
  width: 41px;
  height: 45px;
  background: url("../images/v522_4077.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 129px;
  overflow: hidden;
}
.v522_4078 {
  width: 163px;
  height: 69px;
  background: url("../images/v522_4078.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 688px;
  overflow: hidden;
}
.v522_4079 {
  width: 78px;
  height: 68px;
  background: rgba(151,240,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 41px;
}
.v522_4080 {
  width: 39px;
  height: 45px;
  background: url("../images/v522_4080.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 60px;
}
.v522_4081 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 42px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v522_4082 {
  width: 163px;
  height: 72px;
  background: url("../images/v522_4082.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 809px;
  overflow: hidden;
}
.v522_4083 {
  width: 78px;
  height: 68px;
  background: rgba(151,240,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 43px;
}
.v522_4084 {
  width: 32px;
  height: 40px;
  background: url("../images/v522_4084.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 66px;
}
.v522_4085 {
  width: 163px;
  color: url("../images/v522_4085.png");
  position: absolute;
  top: 45px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v522_4086 {
  width: 164px;
  height: 70px;
  background: url("../images/v522_4086.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 972px;
  overflow: hidden;
}
.v522_4087 {
  width: 78px;
  height: 68px;
  background: rgba(151,240,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 46px;
}
.v522_4088 {
  width: 40px;
  height: 40px;
  background: url("../images/v522_4088.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 61px;
}
.v522_4089 {
  width: 164px;
  color: url("../images/v522_4089.png");
  position: absolute;
  top: 45px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v522_4090 {
  width: 163px;
  height: 71px;
  background: url("../images/v522_4090.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 1080px;
  overflow: hidden;
}
.v522_4091 {
  width: 78px;
  height: 68px;
  background: rgba(151,240,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
}
.v522_4092 {
  width: 36px;
  height: 36px;
  background: url("../images/v522_4092.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 64px;
}
.v522_4093 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v522_4095 {
  width: 160px;
  height: 68px;
  background: url("../images/v522_4095.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 355px;
  overflow: hidden;
}
.v522_4096 {
  width: 78px;
  height: 68px;
  background: rgba(151,240,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 41px;
}
.v522_4097 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v522_4098 {
  width: 42px;
  height: 49px;
  background: url("../images/v522_4098.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 65px;
}
