* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v522_4499 {
  width: 100%;
  height: 600px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 148px;
  border-top-right-radius: 148px;
  border-bottom-left-radius: 148px;
  border-bottom-right-radius: 148px;
  overflow: hidden;
}
.v504_2535 {
  width: 346px;
  height: 260px;
  background: url("../images/v504_2535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 87px;
  overflow: hidden;
}
.v504_2539 {
  width: 348px;
  height: 260px;
  background: url("../images/v504_2539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 518px;
  overflow: hidden;
}
.v504_2537 {
  width: 390px;
  height: 260px;
  background: url("../images/v504_2537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 969px;
  overflow: hidden;
}
