* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v261_6121 {
  width: 676px;
  height: 369px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 74px;
  border-top-right-radius: 74px;
  border-bottom-left-radius: 74px;
  border-bottom-right-radius: 74px;
  overflow: hidden;
}
.v261_6124 {
  width: 306px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 195px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v261_6127 {
  width: 226px;
  height: 69px;
  background: rgba(63,107,222,1);
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 348px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v261_6128 {
  width: 167px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 282px;
  left: 378px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v291_3532 {
  width: 226px;
  height: 69px;
  background: rgba(63,107,222,1);
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 89px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v291_3533 {
  width: 167px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 282px;
  left: 119px;
  font-family: Thabit;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v261_6144 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 106px;
  left: 112px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v261_6145 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 79px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v282_16428 {
  width: 58px;
  height: 54px;
  background: url("../images/v282_16428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 31px;
  overflow: hidden;
}
