* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v154_817 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v154_820 {
  width: 143px;
  height: 151px;
  background: url("../images/v154_820.png");
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 1796px;
}
.v500_3547 {
  width: 500px;
  height: 306px;
  background: url("../images/v500_3547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 470px;
  overflow: hidden;
}
.v157_818 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 722px;
  left: 605px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v157_819 {
  width: 479px;
  color: url("../images/v157_819.png");
  position: absolute;
  top: 152px;
  left: 473px;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v542_4001 {
  width: 72px;
  height: 76px;
  background: url("../images/v542_4001.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1306px;
  overflow: hidden;
}
