* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v107_2069 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v107_2071 {
  width: 100%;
  height: 91px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 0px 8px 24px rgba(0.5843137502670288, 0.615686297416687, 0.6470588445663452, 0.20000000298023224);
}
.v107_2073 {
  width: 143px;
  height: 151px;
  background: url("../images/v107_2073.png");
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 1796px;
}
.name {
  color: #fff;
}
.v107_2078 {
  width: 943px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 155px;
  left: 232px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v107_2079 {
  width: 365px;
  height: 329px;
  background: url("../images/v107_2079.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 556px;
  overflow: hidden;
}
.v107_2081 {
  width: 455px;
  height: 52px;
  background: url("../images/v107_2081.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 619px;
  left: 492px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v107_2082 {
  width: 455px;
  height: 52px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v107_2083 {
  width: 16px;
  height: 4px;
  background: url("../images/v107_2083.png");
  opacity: 0.800000011920929;
  position: absolute;
  top: 25px;
  left: 403px;
  border: 3px solid rgba(0,0,0,1);
}
.name {
  color: #fff;
}
.v107_2085 {
  width: 455px;
  height: 52px;
  background: url("../images/v107_2085.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 492px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v107_2086 {
  width: 455px;
  height: 52px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v107_2088 {
  width: 455px;
  height: 52px;
  background: url("../images/v107_2088.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 492px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v107_2089 {
  width: 455px;
  height: 52px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v107_2090 {
  width: 16px;
  height: 4px;
  background: url("../images/v107_2090.png");
  opacity: 0.800000011920929;
  position: absolute;
  top: 25px;
  left: 403px;
  border: 3px solid rgba(0,0,0,1);
}
.name {
  color: #fff;
}
.v263_5424 {
  width: 235px;
  height: 95px;
  background: url("../images/v263_5424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 599px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v263_5426 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 4px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v107_2092 {
  width: 100%;
  height: 705px;
  background: url("../images/v107_2092.png");
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 1636px;
}
