* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v284_6643 {
  width: 686px;
  height: 101px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 148px;
  border-top-right-radius: 148px;
  border-bottom-left-radius: 148px;
  border-bottom-right-radius: 148px;
  overflow: hidden;
}
.v282_13713 {
  width: 53px;
  height: 54px;
  background: url("../images/v282_13713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 267px;
  overflow: hidden;
}
.v282_13722 {
  width: 52px;
  height: 55px;
  background: url("../images/v282_13722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 394px;
  overflow: hidden;
}
.v282_13724 {
  width: 61px;
  height: 55px;
  background: url("../images/v282_13724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 509px;
  overflow: hidden;
}
.v282_13725 {
  width: 54px;
  height: 54px;
  background: url("../images/v282_13725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 136px;
  overflow: hidden;
}
.v282_13726 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 79px;
  font-family: Thabit;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v282_13727 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 210px;
  font-family: Thabit;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v282_13728 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 333px;
  font-family: Thabit;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v282_13729 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 456px;
  font-family: Thabit;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
