* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v110_1309 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v110_1311 {
  width: 100%;
  height: 91px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 0px 8px 24px rgba(0.5843137502670288, 0.615686297416687, 0.6470588445663452, 0.20000000298023224);
}
.v110_1313 {
  width: 143px;
  height: 151px;
  background: url("../images/v110_1313.png");
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 1796px;
}
.name {
  color: #fff;
}
.v400_3976 {
  width: 100%;
  height: 778px;
  background: url("../images/v400_3976.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 189px;
  overflow: hidden;
}
.v400_3977 {
  width: 811px;
  height: 68px;
  background: url("../images/v400_3977.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 123px;
  overflow: hidden;
}
.v400_3978 {
  width: 237px;
  height: 68px;
  background: rgba(255,255,255,1);
  padding: 20px 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 300px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.029999999329447746);
  overflow: hidden;
}
.v400_3979 {
  width: 120px;
  color: rgba(110,107,143,1);
  position: absolute;
  top: 20px;
  left: 58px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v400_3980 {
  width: 237px;
  height: 68px;
  background: rgba(255,255,255,1);
  padding: 20px 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 574px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.029999999329447746);
  overflow: hidden;
}
.v400_3981 {
  width: 141px;
  color: rgba(110,107,143,1);
  position: absolute;
  top: 20px;
  left: 48px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v400_3982 {
  width: 237px;
  height: 68px;
  background: rgba(74,58,255,1);
  padding: 20px 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v400_3983 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 47px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v400_3984 {
  width: 100%;
  height: 670px;
  background: url("../images/v400_3984.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.v400_3985 {
  width: 100%;
  height: 670px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 5px 16px rgba(0.03232640027999878, 0.059820856899023056, 0.20416666567325592, 0.05999999865889549);
  overflow: hidden;
}
.v400_3986 {
  width: 842px;
  height: 553px;
  background: url("../images/v400_3986.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 109px;
  overflow: hidden;
}
.v400_3987 {
  width: 700px;
  color: rgba(74,58,255,1);
  position: absolute;
  top: 0px;
  left: 48px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v400_3988 {
  width: 16px;
  background: url("../images/v400_3988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 797px;
  overflow: hidden;
}
.v400_3989 {
  width: 16px;
  background: url("../images/v400_3989.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(74,58,255,1);
}
.v400_3990 {
  width: 696px;
  color: rgba(110,107,143,1);
  position: absolute;
  top: 35px;
  left: 48px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v400_3992 {
  width: 658px;
  color: rgba(23,15,73,1);
  position: absolute;
  top: 196px;
  left: 47px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v399_3119 {
  width: 16px;
  height: 16px;
  background: url("../images/v399_3119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 789px;
  overflow: hidden;
}
.v399_3120 {
  height: 16px;
  background: url("../images/v399_3120.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border: 2px solid rgba(23,15,73,1);
}
.v399_3121 {
  width: 16px;
  background: url("../images/v399_3121.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 2px solid rgba(23,15,73,1);
}
.name {
  color: #fff;
}
.v399_3128 {
  width: 16px;
  height: 16px;
  background: url("../images/v399_3128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 446px;
  left: 789px;
  overflow: hidden;
}
.v399_3129 {
  height: 16px;
  background: url("../images/v399_3129.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border: 2px solid rgba(23,15,73,1);
}
.v399_3130 {
  width: 16px;
  background: url("../images/v399_3130.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 2px solid rgba(23,15,73,1);
}
.name {
  color: #fff;
}
.v400_4002 {
  width: 625px;
  color: rgba(23,15,73,1);
  position: absolute;
  top: 280px;
  left: 47px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v399_2975 {
  width: 625px;
  color: rgba(23,15,73,1);
  position: absolute;
  top: 360px;
  left: 48px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v399_3122 {
  width: 16px;
  height: 16px;
  background: url("../images/v399_3122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 789px;
  overflow: hidden;
}
.v399_3123 {
  height: 16px;
  background: url("../images/v399_3123.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border: 2px solid rgba(23,15,73,1);
}
.v399_3124 {
  width: 16px;
  background: url("../images/v399_3124.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 2px solid rgba(23,15,73,1);
}
.name {
  color: #fff;
}
.v400_4007 {
  width: 576px;
  color: rgba(23,15,73,1);
  position: absolute;
  top: 530px;
  left: 47px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v400_4016 {
  width: 576px;
  color: rgba(23,15,73,1);
  position: absolute;
  top: 444px;
  left: 48px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v399_3131 {
  width: 16px;
  height: 16px;
  background: url("../images/v399_3131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 789px;
  overflow: hidden;
}
.v399_3132 {
  height: 16px;
  background: url("../images/v399_3132.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border: 2px solid rgba(23,15,73,1);
}
.v399_3133 {
  width: 16px;
  background: url("../images/v399_3133.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 2px solid rgba(23,15,73,1);
}
.name {
  color: #fff;
}
.v399_3125 {
  width: 16px;
  height: 16px;
  background: url("../images/v399_3125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 789px;
  overflow: hidden;
}
.v399_3126 {
  height: 16px;
  background: url("../images/v399_3126.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border: 2px solid rgba(23,15,73,1);
}
.v399_3127 {
  width: 16px;
  background: url("../images/v399_3127.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 2px solid rgba(23,15,73,1);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
