* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v183_2240 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v183_2241 {
  width: 100%;
  height: 91px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 0px 8px 24px rgba(0.5843137502670288, 0.615686297416687, 0.6470588445663452, 0.20000000298023224);
}
.v183_2314 {
  width: 100%;
  height: 125px;
  background: url("../images/v183_2314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 214px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v183_2316 {
  width: 268px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 372px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v183_2304 {
  width: 100%;
  height: 125px;
  background: url("../images/v183_2304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 703px;
  left: 213px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v183_2303 {
  width: 708px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 152px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v183_2306 {
  width: 100%;
  height: 125px;
  background: url("../images/v183_2306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 214px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v183_2308 {
  width: 541px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 236px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v183_2243 {
  width: 75px;
  height: 28px;
  background: url("../images/v183_2243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 675px;
  overflow: hidden;
}
.v183_2252 {
  width: 75px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v183_2256 {
  width: 83px;
  height: 47px;
  background: url("../images/v183_2256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 96px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v183_2257 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  transform: rotate(-135deg);
}
.v183_2258 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 42px;
  transform: rotate(-45deg);
}
.v183_2259 {
  width: 83px;
  height: 47px;
  background: url("../images/v183_2259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 1344px;
  transform: rotate(-89deg);
  overflow: hidden;
}
.v183_2260 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  transform: rotate(-44deg);
}
.v183_2261 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 41px;
  transform: rotate(-135deg);
}
.v183_2286 {
  width: 988px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 113px;
  left: 225px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v183_2242 {
  width: 100%;
  height: 890px;
  background: rgba(255,255,255,0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 1317px;
  left: 103px;
}
