* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v547_4109 {
  width: 686px;
  height: 335px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 148px;
  border-top-right-radius: 148px;
  border-bottom-left-radius: 148px;
  border-bottom-right-radius: 148px;
  overflow: hidden;
}
.v547_4118 {
  width: 303px;
  height: 87px;
  background: url("../images/v547_4118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 173px;
  overflow: hidden;
}
.v547_4119 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 116px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v547_4120 {
  width: 87px;
  height: 87px;
  background: url("../images/v547_4120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_4124 {
  width: 340px;
  height: 90px;
  background: url("../images/v547_4124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 173px;
  overflow: hidden;
}
.v547_4125 {
  width: 224px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 116px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v547_4126 {
  width: 85px;
  height: 85px;
  background: url("../images/v547_4126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v547_4127 {
  width: 230px;
  height: 85px;
  background: url("../images/v547_4127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 174px;
  overflow: hidden;
}
.v547_4128 {
  width: 87px;
  height: 85px;
  background: url("../images/v547_4128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 87px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v547_4129 {
  width: 114px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 116px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
