* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v522_5220 {
  width: 455px;
  height: 138px;
  background: rgba(255,255,255,1);
  padding: 8px 0px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
