* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v261_1568 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v261_1569 {
  width: 100%;
  height: 91px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 0px 8px 24px rgba(0.5843137502670288, 0.615686297416687, 0.6470588445663452, 0.20000000298023224);
}
.v261_1571 {
  width: 777px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 121px;
  left: 335px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v261_1572 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 204px;
  left: 107px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v261_1582 {
  width: 100%;
  height: 276px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 117px;
  overflow: hidden;
}
.v261_1583 {
  width: 246px;
  height: 184px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 146px;
  overflow: hidden;
}
.v261_1584 {
  width: 246px;
  height: 184px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 450px;
  overflow: hidden;
}
.v261_1585 {
  width: 246px;
  height: 184px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 755px;
  overflow: hidden;
}
.v261_1586 {
  width: 246px;
  height: 184px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 1059px;
  overflow: hidden;
}
.v261_1587 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 241px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v261_1588 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 547px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v261_1589 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 819px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v261_1590 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 1147px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v261_1595 {
  width: 45px;
  height: 53px;
  background: url("../images/v261_1595.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 491px;
  left: 247px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v261_1667 {
  width: 88px;
  height: 83px;
  background: url("../images/v261_1667.png");
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 1148px;
}
.v261_4599 {
  width: 120px;
  height: 120px;
  background: rgba(166,101,101,1);
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 511px;
  overflow: hidden;
}
.v261_4689 {
  width: 120px;
  height: 120px;
  background: rgba(185,179,255,1);
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 822px;
  overflow: hidden;
}
.v261_1618 {
  width: 300px;
  height: 276px;
  background: rgba(30,195,27,1);
  opacity: 0.6000000238418579;
  position: absolute;
  top: 278px;
  left: 116px;
  overflow: hidden;
}
.v261_4644 {
  width: 120px;
  height: 120px;
  background: rgba(174,205,252,1);
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 207px;
  overflow: hidden;
}
.v261_1497 {
  width: 413px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 562px;
  left: 136px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v261_1513 {
  width: 100%;
  height: 276px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 115px;
  overflow: hidden;
}
.v261_1514 {
  width: 246px;
  height: 183px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 673px;
  left: 144px;
  overflow: hidden;
}
.v261_1519 {
  width: 246px;
  height: 183px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 673px;
  left: 448px;
  overflow: hidden;
}
.v261_1520 {
  width: 246px;
  height: 183px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 673px;
  left: 753px;
  overflow: hidden;
}
.v261_1521 {
  width: 246px;
  height: 183px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: absolute;
  top: 673px;
  left: 1057px;
  overflow: hidden;
}
.v261_1531 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 822px;
  left: 220px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v261_1532 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 822px;
  left: 530px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v261_1533 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 822px;
  left: 826px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v261_1534 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 822px;
  left: 1145px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v261_1518 {
  width: 45px;
  height: 53px;
  background: url("../images/v261_1518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 862px;
  left: 244px;
  overflow: hidden;
}
.v261_1554 {
  width: 200px;
  background: url("../images/v261_1554.png");
  opacity: 1;
  position: absolute;
  top: 791px;
  left: 166px;
  border: 15px solid rgba(177,51,51,1);
}
.v261_1555 {
  width: 200px;
  background: url("../images/v261_1555.png");
  opacity: 1;
  position: absolute;
  top: 791px;
  left: 471px;
  border: 15px solid rgba(177,51,51,1);
}
.v261_1557 {
  width: 200px;
  background: url("../images/v261_1557.png");
  opacity: 1;
  position: absolute;
  top: 791px;
  left: 775px;
  border: 15px solid rgba(177,51,51,1);
}
.v261_1558 {
  width: 200px;
  background: url("../images/v261_1558.png");
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 775px;
  border: 15px solid rgba(177,51,51,1);
}
.v261_1559 {
  width: 200px;
  background: url("../images/v261_1559.png");
  opacity: 1;
  position: absolute;
  top: 716px;
  left: 775px;
  border: 15px solid rgba(177,51,51,1);
}
.v261_1556 {
  width: 200px;
  background: url("../images/v261_1556.png");
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 471px;
  border: 15px solid rgba(177,51,51,1);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v261_1545 {
  width: 88px;
  height: 83px;
  background: url("../images/v261_1545.png");
  opacity: 1;
  position: absolute;
  top: 715px;
  left: 1146px;
}
.v261_1567 {
  width: 312px;
  height: 274px;
  background: rgba(30,195,27,1);
  opacity: 0.6000000238418579;
  position: absolute;
  top: 649px;
  left: 101px;
  overflow: hidden;
}
.v282_16445 {
  width: 100%;
  height: 887px;
  background: rgba(103,80,164,0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 18px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v322_2352 {
  width: 83px;
  height: 47px;
  background: url("../images/v322_2352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 576px;
  left: 1369px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v322_2353 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  transform: rotate(-45deg);
}
.v322_2354 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 41px;
  transform: rotate(-135deg);
}
.name {
  color: #fff;
}
