* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v263_5298 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v263_5300 {
  width: 143px;
  height: 151px;
  background: url("../images/v263_5300.png");
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 1796px;
}
.v263_5301 {
  width: 100%;
  height: 91px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  box-shadow: 0px 8px 24px rgba(0.5843137502670288, 0.615686297416687, 0.6470588445663452, 0.20000000298023224);
}
.v263_5316 {
  width: 281px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 590px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v263_5317 {
  width: 100px;
  height: 100px;
  background: url("../images/v263_5317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 459px;
  overflow: hidden;
}
.v263_5406 {
  width: 257px;
  height: 112px;
  background: url("../images/v263_5406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 426px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v263_5408 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 92px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v263_5409 {
  width: 257px;
  height: 112px;
  background: url("../images/v263_5409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 771px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v263_5411 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 61px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v282_15854 {
  width: 83px;
  height: 47px;
  background: url("../images/v282_15854.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 96px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v282_15855 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  transform: rotate(-135deg);
}
.v282_15856 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 42px;
  transform: rotate(-45deg);
}
.v282_15857 {
  width: 83px;
  height: 47px;
  background: url("../images/v282_15857.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 534px;
  left: 1344px;
  transform: rotate(-89deg);
  overflow: hidden;
}
.v282_15858 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  transform: rotate(-44deg);
}
.v282_15859 {
  width: 58px;
  height: 8px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 41px;
  transform: rotate(-135deg);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v504_2549 {
  width: 273px;
  height: 276px;
  background: url("../images/v504_2549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 348px;
  left: 235px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.v504_2551 {
  width: 273px;
  height: 276px;
  background: url("../images/v504_2551.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 579px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.v504_2550 {
  width: 273px;
  height: 278px;
  background: url("../images/v504_2550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 923px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
